<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>VIP Mobile Print</title>
</head>
<body>
<form action="/print" method="post">
    <select id="printers" name="printer">
        {{#each printers}}
            <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
    </select>
    <input name="type" type="text">

    <button type="submit">Print</button>
</form>
</body>
</html>