<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>App</title>
</head>
<body>
<style>
    body {
        background-color: black;
    }
    * {
        color: white;
    }
</style>
<h1>Type: {{type}}</h1>
<h2>Parked: {{parkedDate}}</h2>
</body>
</html>